<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro de Correntistas</h1>
    <div th:text="${messagem}" style="color: red"></div>
    <form th:action="@{/correntistas/save}" method="POST" th:object="${correntista}">
        <input type="hidden" th:field="*{id}"/>
        Nome: <input type="text" th:field="*{nome}"/><br/><br/>
        Senha: <input type="password" th:field="*{senha}"/><br/><br/>
        Email: <input type="text" th:field="*{email}"/><br/><br/>
        Admin: <input type="checkbox" th:field="*{admin}"/><br/><br/>
        <input type="submit" value="Salvar">
    </form>
</body>
</html>