<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Correntistas</h1>
    <div th:text="${messagem}" style="color: red"></div>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Admin</th>
                <th>Senha</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="correntista : ${correntistas}">
                <td>[[${correntista.id}]]</td>
                <td th:text="${correntista.nome}"></td>
                <td th:text="${correntista.email}"></td>
                <td th:text="${correntista.admin}"></td>
                <td th:text="${#strings.substring(correntista.senha,0,3)} + '...'"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>